.header {
  display: flex;
  align-items: flex-start;

  padding-top: 24px;
}

.headerTitle {
  width: 52%;
  text-align: center;

  color: var(--main-black-color);
  font-size: 3.6rem;
  font-family: "Special Elite", cursive;
  text-transform: lowercase;
}
